* {
  // border: 1px solid black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  padding: 0.75rem;
  background-color: #e91e63;
  color: #f1f1f1;
  border-radius: 3px;
  min-width: 100%;
}

section {
  padding: 20px;

  h2,
  p,
  span {
    display: inline;
    font-family: "Courier New", Courier, monospace;
    font-weight: 200;
    background-color: #ffee58;
    margin: 10px;
  }

  p {
    display: block;
    width: 50%;
  }

  span {
    background-color: transparent;
  }
  margin-bottom: 200px;
}

.border-box {
  border: 0.5rem solid #f1f1f1;
  border-radius: 0.2rem;
  min-height: 18rem;
  margin-top: 15px;

  .container1 {
    display: grid;
    grid-gap: 2px;

    div {
      @include grid-items();
    }
  }

  .container2 {
    display: inline-grid;
    grid-gap: 2px;

    div {
      @include grid-items();
    }
  }

  .container3 {
    display: grid;
    grid-template-rows: 50px 100px;
    grid-gap: 2px;

    div {
      @include grid-items();
    }
  }

  .container4 {
    display: grid;
    grid-template-columns: 90px 50px 120px;
    grid-gap: 2px;

    div {
      @include grid-items();
    }
  }

  .container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 2px;

    div {
      @include grid-items();
    }
  }

  .container6 {
    display: grid;
    grid-template-columns: 3rem 25% 1fr 2fr;
    grid-gap: 2px;

    div {
      @include grid-items();
    }
  }

  .container7 {
    display: grid;
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: minmax(auto, 50%) 1fr 3em;
    grid-gap: 2px;

    div {
      @include grid-items();

      &:nth-child(4) {
        text-align: left;
      }
    }
  }

  .container8 {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;

    div {
      @include grid-items();
    }
  }

  .container9 {
    display: grid;
    grid-template-columns: 30px repeat(3, 1fr) 30px;
    grid-gap: 2px;

    div {
      @include grid-items();
    }
  }

  .container10 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 5rem;

    div {
      @include grid-items();
    }
  }

  .container11 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 1em;

    div {
      @include grid-items();
    }
  }

  .container12 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;

    div {
      @include grid-items();
    }
  }

  .container13 {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;

    div {
      @include grid-items();

      &:nth-child(1) {
        grid-row-start: 2;
        grid-row-end: 3; // if only one child then end is optional
        grid-column-start: 2;
        grid-column-end: 3; // if only one child then end is optional
        background-color: #009688;
      }
    }
  }

  .container14 {
    display: grid;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;

    div {
      @include grid-items();

      &:nth-child(1) {
        grid-row: 2;
        grid-column: 3 / 4;
        background-color: #009688;
      }
    }
  }

  .container15 {
    display: grid;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;

    div {
      @include grid-items();

      &:nth-child(1) {
        grid-area: 2 / 2 / 3 / 3;
        background-color: #009688;
      }
    }
  }

  .container16 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;

    div {
      @include grid-items();

      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: #009688;
      }
    }
  }

  .container17 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;

    div {
      @include grid-items();

      &:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: #009688;
      }
    }
  }

  .container18 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;

    div {
      @include grid-items();

      &:nth-child(1) {
        grid-row: 2 / 6;
        grid-column: 2 / 4;
        background-color: #009688;
      }
    }
  }

  .container19 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;

    div {
      @include grid-items();

      &:nth-child(1) {
        grid-row: 2 / span 3;
        grid-column: span 2;
        background-color: #009688;
      }
    }
  }

  .container20 {
    display: grid;
    grid-template-rows: [row-1-start] 1fr [row-2-start] 1fr [row-2-end];
    grid-template-columns: [col-1-start] 1fr [col-2-start] 1fr [col-3-start] 1fr [col-3-end];
    grid-gap: 1px;

    div {
      @include grid-items();
      padding: 50px;
    }
  }

  .container21 {
    display: grid;
    grid-template-rows: [row-start row-1-start] 1fr [row-1-end row-2-start] 1fr [row-2-end row-end];
    grid-template-columns: [col-start] 1fr [col-2-start] 1fr [col-3-start] 1fr [col-end];
    grid-gap: 1px;

    div {
      @include grid-items();
      padding: 50px;
    }
  }

  .container22 {
    display: grid;
    grid-template-rows: [row-start] 1fr [row-2-start] 1fr [row-end];
    grid-template-columns: [col-start] 1fr [col-2-start] 1fr [col-3-start] 1fr [col-end];
    grid-gap: 1px;

    div {
      @include grid-items();
      padding: 50px;

      &:nth-child(1) {
        grid-row-start: row-2-start;
        grid-row-end: row-end;
        grid-column-start: col-2-start;
        grid-column-end: col-end;
        background-color: #009688;
      }
    }
  }

  .container23 {
    display: grid;
    grid-template-rows: [row-start] 1fr [row-2-start] 1fr [row-end];
    grid-template-columns: [col-start] 1fr [col-2-start] 1fr [col-3-start] 1fr [col-end];
    grid-gap: 1px;

    div {
      @include grid-items();
      padding: 50px;

      &:nth-child(1) {
        grid-row: row-2-start / row-end;
        grid-column: col-2-start / col-end;
        background-color: #009688;
      }
    }
  }

  .container24 {
    display: grid;
    grid-template-rows: repeat(3, [row-start] 1fr [row-end]);
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
    grid-gap: 1px;

    div {
      @include grid-items();
      padding: 50px;
    }
  }

  .container25 {
    display: grid;
    grid-template-rows: repeat(3, [row-start] 1fr [row-end]);
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
    grid-gap: 1px;

    div {
      @include grid-items();
      padding: 50px;

      &:nth-child(1) {
        grid-row: row-start 2 / row-end 3;
        grid-column: col-start / col-start 3;
        background-color: #009688;
      }
    }
  }

  .container26 {
    display: grid;
    grid-template-areas:
      "header header"
      "content sidebar"
      "footer footer";
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 1fr 200px;

    div {
      @include grid-items;
      border-radius: 0%;
      background-color: transparent;
      border: 3px solid;
      display: inline;
      padding: 0;
      & > span {
        margin: 0;
        padding: 2px 4px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        border: 3px solid #009688;
        color: white;
        & span {
          background-color: #009688;
        }
      }
      &:nth-child(3) {
        border-color: #e91e63;

        & span {
          background-color: #e91e63;
        }
      }
      &:nth-child(4) {
        border-color: #ff5722;

        & span {
          background-color: #ff5722;
        }
      }
      &:nth-child(5),
      &:nth-child(6) {
        border-color: #9c27b0;

        & span {
          background-color: #9c27b0;
        }
      }
    }
  }

  .container27 {
    display: grid;
    grid-template-areas:
      "header header"
      "content sidebar"
      "footer footer";
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 1fr 200px;

    div {
      @include grid-items;
      background-color: #009688;
      grid-area: header / header / header / header;
    }
  }

  .container28 {
    display: grid;
    grid-template-areas:
      "header header"
      "content sidebar"
      "footer footer";
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 1fr 200px;
    grid-gap: 1px;

    div {
      @include grid-items;

      &:nth-child(1) {
        background-color: #009688;
        grid-area: header / header / header / header;
      }

      &:nth-child(2) {
        background-color: #e91e63;
        grid-area: content / content / content / content;
      }

      &:nth-child(3) {
        background-color: #ff5722;
        grid-area: sidebar / sidebar / sidebar / sidebar;
      }

      &:nth-child(4) {
        background-color: #9c27b0;
        grid-area: footer / footer / footer / footer;
      }
    }
  }

  .container29 {
    display: grid;
    grid-template-rows: 100px; // explicit matlab k initialize kr thy hain apni marzi sy
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 1px;

    div {
      @include grid-items();
      padding: 50px;
      background-color: #009688;
      &:nth-child(1),
      &:nth-child(2) {
        background-color: #e91e63;
      }
    }
  }

  .container30 {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1px;

    div {
      @include grid-items();
    }
  }
  .container31 {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1px;

    div {
      @include grid-items();
    }
  }
  .container32 {
    display: grid;
    grid-template-columns: 30px 60px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 2fr 3fr;
    grid-gap: 1px;

    div {
      @include grid-items();
      background-color: #009688;
      &:nth-child(1),
      &:nth-child(2) {
        background-color: #e91e63;
      }
    }
  }

  .container33 {
    display: grid;
    grid-template-rows: [outer-start] 1fr [inner-start] 1fr [inner-end] 1fr [outer-end];
    grid-template-columns: [outer-start] 1fr [inner-start] 1fr [inner-end] 1fr [outer-end];
    grid-gap: 1px;

    div {
      @include grid-items();
      padding: 60px;
      background-color: #e91e63;
      &:nth-child(1) {
        background-color: #009688;
        grid-area: inner;
      }
    }
  }

  .container34 {
    display: grid;
    grid-template-areas:
      "header header"
      "content sidebar"
      "footer footer";
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 1fr 200px;

    div {
      @include grid-items;
      border-radius: 0%;
      background-color: transparent;
      border: 3px solid;
      display: inline;
      padding: 0;
      & > span {
        margin: 0;
        padding: 2px 4px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        border: 3px solid #009688;
        color: white;
        & span {
          background-color: #009688;
        }
      }
      &:nth-child(3) {
        border-color: #e91e63;

        & span {
          background-color: #e91e63;
        }
      }
      &:nth-child(4) {
        border-color: #ff5722;

        & span {
          background-color: #ff5722;
        }
      }
      &:nth-child(5),
      &:nth-child(6) {
        border-color: #9c27b0;

        & span {
          background-color: #9c27b0;
        }
      }
    }
  }

  .container35 {
    display: grid;
    grid-template-areas:
      "header header"
      "content sidebar"
      "footer footer";
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 1fr 200px;
    grid-gap: 1px;

    div {
      @include grid-items;

      &:nth-child(1) {
        background-color: #009688;
        grid-area: header-start / header-start / header-end / header-end;
      }

      &:nth-child(2) {
        background-color: #e91e63;
        grid-area: content-start / content-start / content-end / content-end;
      }

      &:nth-child(3) {
        background-color: #ff5722;
        grid-area: sidebar-start / sidebar-start / header-end / footer-end;
      }

      &:nth-child(4) {
        background-color: #9c27b0;
        grid-area: content-end / header-start / footer-end / sidebar-end;
      }
    }
  }
}
